<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-col>



    <p class="count">{{stepCount}}</p>  

    <br/>
    <br/>

    <button *ngIf="!start" ion-button outline round block icon-right color="secondary" (click)="fnGetPedoUpdate()">start  <ion-icon name="play"></ion-icon> </button>
   <button *ngIf="start" ion-button outline round block icon-right color="danger" (click)="fnStopPedoUpdate()">stop  <ion-icon name="pause"></ion-icon> </button>

   </ion-col>
</ion-content>
